:root {
  --color-primary: #D12D36;
  --font-size: 16px;
  --color-dark: rgb(36, 33, 28);
  --color-primary: rgb(248, 175, 39);
  --color-text: white;
  --green: rgb(23, 107, 79);
  --green-light: rgb(76, 107, 19);
  --red: rgb(134, 25, 25);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: var(--color-dark);
}

h1, h2, h3, h4, h5, h6, p, span {
  color: var(--color-text);
}

td {
  width: 60px;
  height: 60px;
  border: 1px solid gray;
}

button {
  background-color: var(--color-primary);
  color: var(--color-dark);
  border: none;
}

td:hover {
  background-color: darkgray;
  cursor: pointer;
}

.flex {
  display: flex;
}

.text-primary {
  color: var(--color-primary);
}

.bg-primary {
  background-color: var(--color-primary);
}

.active {
  border: 3px solid white;
}

.gap-sm {
  gap: 16px;
}

.always {
  background-color: var(--green);
}

.mid {
  background-color: var(--green-light);
}

.late {
  background-color: var(--color-primary);
}

.fold {
  background-color: var(--red);
}
